<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<th:block th:include="layout/header"></th:block>
	<link type="text/css" rel="stylesheet" th:href="@{/css/admin/style.css}" />
	<style>
		table {
			table-layout: fixed;
		}
		table tbody td {
			text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}
	</style>
</head>

<body class="g-sidenav-show  bg-gray-100" style="overflow: hidden;">
	<!--<th:block th:include="layout/sidenav"></th:block>-->
	<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ps ps--active-y">
		<!-- Navbar -->
		<th:block th:include="layout/topnav"></th:block>
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header">
							<div class="row">
								<div class="col-7 d-flex align-items-center">
									<h6 class="mb-0">상품 리스트</h6>
								</div>
								<div class="col-3 ms-md-auto pe-md-3 d-flex align-items-center search-div">
									<div class="input-group">
										<span class="input-group-text text-body"><i class="fas fa-search"
												aria-hidden="true"></i></span>
										<input type="text" class="form-control" placeholder="Type here..."
											id="userSearch" onkeypress="search_btn(event)" minlength="2" required>
									</div>
								</div>
								<div class="col-2 text-end add-btn">
									<a class="btn bg-gradient-dark mb-0" onclick="javascript:$('#file').click();"><i class="fas fa-plus"
											aria-hidden="true"></i>&nbsp;&nbsp;상품 엑셀 업로드</a>
											<div style="display: none;">
												<form id="form">
													<input type="file" name="file" id="file">
												</form>
											</div>
								</div>
							</div>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center justify-content-center mb-0" id="prdTable">
									<thead>
										<tr>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 col-1">
												No</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-1">
												키워드</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												상점명</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-3">
												상품명</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												원부순위</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												순위</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												측정일시</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												메모</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="modal fade" id="user-delete" tabindex="-1" role="dialog" aria-labelledby="user-delete"
						aria-hidden="true">
						<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h6 class="modal-title" id="modal-title-default">회원 탈퇴 처리</h6>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<p><span id="deleteNickname"></span>
										<span>님을 탈퇴 처리하시겠습니까?</span>
									</p>
									<p>사용자의 정보들이 영구 삭제됩니다.</p>
									<p class="display-none" id="deleteUserId"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn bg-gradient-primary"
										onclick="delete_btn()">Yes</button>
									<button type="button" class="btn btn-link  ml-auto"
										data-bs-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:include="layout/footer"></th:block>
		</div>
	</main>
</body>
<script src="/js/product/list.js"></script>

</html>