<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<th:block th:include="layout/header"></th:block>
	<link type="text/css" rel="stylesheet" th:href="@{/css/admin/style.css}" />
	<style>
		table {
			table-layout: fixed;
		}

		table tbody td {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		td, th {
			border: 1px solid #e9ecef;
		}

		.pointer {
			cursor: pointer;
		}
		.work-fail, .work-fail a {
			color: orangered;
		}
		.table tbody tr:last-child td {
			border-width: 1px !important;
		}
	</style>
</head>

<body class="g-sidenav-show  bg-gray-100" style="overflow: hidden;">
	<th:block th:include="layout/sidenav"></th:block>
	<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ps ps--active-y">
		<!-- Navbar -->
		<th:block th:include="layout/topnav"></th:block>
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header">
							<div class="row">
								<div class="col-7 d-flex align-items-center">
									<h6 class="mb-0">상품 등록</h6>
								</div>
								<div class="col-5 ms-md-auto pe-md-3 d-flex align-items-center"
									style="justify-content: right;">
									<a class="btn bg-gradient-dark mb-0" onclick="javascript:$('#file').click();"><i
											class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;상품 엑셀 업로드</a>
									&nbsp;&nbsp;
									<a class="btn bg-gradient-dark mb-0" id="saveBtn">등록</a>
									<div style="display: none;">
										<form id="form">
											<input type="file" name="file" id="file">
										</form>
									</div>
								</div>
							</div>
							<div class="row save_area">
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">키워드</label>
										<input class="form-control" type="text" id="saveKeyword">
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">원부옵션명</label>
										<input class="form-control" type="text" id="saveOnebuOptionName">
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">NVMID</label>
										<input class="form-control" type="text" id="saveNvmid">
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">메모</label>
										<input class="form-control" type="text" id="saveMemo">
									</div>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-7 d-flex align-items-center">
									<h6 class="mb-0">검색 조건</h6>
								</div>
								<div class="col-5 ms-md-auto pe-md-3 d-flex align-items-center"
									style="justify-content: right;">
									<a class="btn bg-gradient-dark mb-0" id="searchBtn">검색</a>
									<div style="display: none;">
										<form id="form">
											<input type="file" name="file" id="file">
										</form>
									</div>
								</div>
							</div>
							<div class="row search_area">
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">키워드</label>
										<input class="form-control" type="text" id="schKeyword">
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">상점명</label>
										<input class="form-control" type="text" id="schShopName">
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">NVMID</label>
										<input class="form-control" type="text" id="schNvmid">
									</div>
								</div>
								<div class="col-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">메모</label>
										<input class="form-control" type="text" id="schMemo">
									</div>
								</div>
							</div>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center justify-content-center mb-0" id="prdTable">
									<thead>
										<tr>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 col-1">
												No</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-3">
												키워드</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-2">
												상점명</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-2">
												원부옵션명</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-2">
												nvmid</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-1">
												원부순위</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-1">
												원부내순위</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-1">
												단독순위</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-2">
												측정일시</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-1">
												메모</th>
											<th
												class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-1">
												삭제</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button style='display: none;' type="button" id="modalBtn" data-bs-toggle="modal" data-bs-target="#exampleModalMessage">
			</button>
			<button style='display: none;' type="button" id="modalBtn2" data-bs-toggle="modal" data-bs-target="#exampleModalMessage2">
			</button>
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">상품 수정</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="modalId">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">키워드:</label>
								<input type="text" class="form-control" id="modelKeyword">
							</div>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">원부옵션명:</label>
								<input type="text" class="form-control" id="modelOnebuOptionName">
							</div>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">nvmid:</label>
								<input type="text" class="form-control" id="modalNvmid">
							</div>
							<div class="form-group">
								<label for="message-text" class="col-form-label">메모:</label>
								<textarea class="form-control" id="modalMemo"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn bg-gradient-secondary"
								data-bs-dismiss="modal" id="modalClose">Close</button>
							<button type="button" class="btn bg-gradient-primary" onclick="updateProduct();">수정</button>
						</div>
					</div>
				</div>
			</div>
			
		<th:block th:include="layout/historyTable"></th:block>
		</div>

		<th:block th:include="layout/footer"></th:block>
		</div>
	</main>
</body>
<script src="/js/product/list.js"></script>

</html>