<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<th:block th:include="layout/header"></th:block>
	<link type="text/css" rel="stylesheet" th:href="@{/css/admin/style.css}" />
</head>

<body class="g-sidenav-show  bg-gray-100" style="overflow: hidden;">
	<th:block th:include="layout/sidenav"></th:block>
	<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ps ps--active-y">
		<!-- Navbar -->
		<th:block th:include="layout/topnav"></th:block>
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header">
							<div class="row">
								<div class="col-6 d-flex align-items-center">
									<h6 class="mb-0">추천 유투버</h6>
								</div>
								<div class="col-6 text-end">
									<button class="btn btn-outline-primary btn-sm mb-0" id="recommendedYoutuberBtn" onclick="youtuber_btn('add')"><i
											class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add&nbsp;&nbsp;<i
											class="fas fa-crown"></i>&nbsp;&nbsp;Youtuber</button>
								</div>
							</div>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive recommended-div">
								<table class="table align-items-center justify-content-center mb-0" id="recommendedTable">
									<thead>
										<tr>
											<th class="col-1"></th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 col-1">
												ID</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-1">
												닉네임</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												이름</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-3">
												이메일</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												핸드폰번호</th>
											<th class="col-1"></th>
										</tr>
									</thead>
									<tbody id="sortable">
									</tbody>
								</table>
							</div>
							<!--<ul class="list-group">
								<li class="list-group-item border-0 d-flex mb-2 border-radius-lg">
									<div class="col-2 d-flex align-items-center">

									</div>
									<div class="col-2 d-flex align-items-center">
										<h6
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
											닉네임</h6>

									</div>
									<div class="col-2 d-flex align-items-center">
										<h6
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
											이름</h6>

									</div>
									<div class="col-3 d-flex align-items-center">
										<h6
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
											이메일</h6>

									</div>
									<div class="d-flex align-items-center">
										<h6
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
											핸드폰번호</h6>

									</div>
								</li>
							</ul>
							<ul class="list-group" id="sortable">
							</ul>-->
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header">
							<div class="row">
								<div class="col-7 d-flex align-items-center">
									<h6 class="mb-0">유투버 관리</h6>
								</div>
								<div class="col-3 ms-md-auto pe-md-3 d-flex align-items-center search-div">
									<div class="input-group">
										<span class="input-group-text text-body"><i class="fas fa-search"
												aria-hidden="true"></i></span>
										<input type="text" class="form-control" placeholder="Type here..."
											id="youtuberSearch" onkeypress="search_btn(event)" minlength="2" required>
									</div>
								</div>
								<div class="col-2 text-end remove-btn">
									<a class="btn bg-gradient-dark mb-0" onclick="youtuber_btn('remove')"><i
											class="fas fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;Remove Youtuber</a>
								</div>
							</div>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center justify-content-center mb-0" id="youtuberTable">
									<thead>
										<tr>
											<th class="col-1">
												<div class="form-check check-box"><input class="form-check-input"
														type="checkbox" value="" id="chkAllYoutber"></div>
											</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 col-1">
												ID</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-1">
												닉네임</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												이름</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-3">
												이메일</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 col-2">
												핸드폰번호</th>
											<th class="col-1"></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="modal fade" id="youtuber-delete" tabindex="-1" role="dialog"
						aria-labelledby="youtuber-delete" aria-hidden="true">
						<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h6 class="modal-title" id="modal-title-default">회원 탈퇴 처리</h6>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<p><span id="youtuberNickname"></span>
										<span>님을 탈퇴 처리하시겠습니까?</span>
									</p>
									<p>사용자의 정보들이 영구 삭제됩니다.</p>
									<p class="display-none" id="deleteYoutuberId"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn bg-gradient-primary"
										onclick="delete_btn()">Yes</button>
									<button type="button" class="btn btn-link  ml-auto"
										data-bs-dismiss="modal">No</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:include="layout/footer"></th:block>
		</div>
	</main>
</body>
<script src="/js/admin/youtuber.js"></script>

</html>