<!-- Modal -->
<div class="modal fade" id="exampleModalMessage2" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">작업 내역</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table align-items-center justify-content-center mb-0" id="historyTable">
					<thead>
						<tr>
							<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-2">
								원부순위</th>
							<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-2">
								원부내순위</th>
							<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-2">
								단독순위</th>
							<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2 col-4">
								측정일시</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal"
					id="modalClose">Close</button>
			</div>
		</div>
	</div>
</div>